name: Core and driver tester

on: push

jobs:
  test-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: goto-bus-stop/setup-zig@v2
      - name: Install npm
        run: sudo apt-get install -y curl unzip && curl -fsSL https://fnm.vercel.app/install | bash && export PATH="/$HOME/.local/share/fnm:$PATH" && eval "`fnm env`" && fnm install v20.10.0 && fnm use v20.10.0 && npm -g i npm@latest
      - name: Install Deno and Bun
        run: npm install -g npm@latest; npm install -g bun deno-bin
      - name: Run tests
        run: zig build test